<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pragyatitsolutions.SchoolManagement">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pragyatitsolutions.SchoolManagement.ParentGoogleMapActivity"></activity>
        <activity android:name="com.pragyatitsolutions.SchoolManagement.BusDriverCurrentLocationActivity" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.BusDriverMainIndexActivity"
            android:theme="@style/ParentMainIndex" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.BusManagementActivity" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.ShowHomeWorkActivity" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.ParentMainIndexActivity"
            android:theme="@style/ParentMainIndex" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.TeacherMainIndexActivity"
            android:theme="@style/EmergencyLeave" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.NotificationSendingActivityUsingVolley"
            android:theme="@style/EmergencyLeave" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.EmergencyLeaveSignupActivity" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.AddStudent" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.StudentManagement" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.DeleteTeacher" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.ViewTeacher" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.UpdateTeacher" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.AddTeacher" />
        <activity android:name="com.pragyatitsolutions.SchoolManagement.TeacherManagement" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.AdminIndex"
            android:parentActivityName="com.pragyatitsolutions.SchoolManagement.MainActivity" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.ParentActivity"
            android:parentActivityName="com.pragyatitsolutions.SchoolManagement.MainActivity"
            android:theme="@style/LoginScreen" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.BusTrackingActivity"
            android:parentActivityName="com.pragyatitsolutions.SchoolManagement.MainActivity"
            android:theme="@style/LoginScreen" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.TeacherActivity"
            android:parentActivityName="com.pragyatitsolutions.SchoolManagement.MainActivity"
            android:theme="@style/LoginScreen" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.AdminActivity"
            android:parentActivityName="com.pragyatitsolutions.SchoolManagement.MainActivity"
            android:theme="@style/LoginScreen" />
        <activity
            android:name="com.pragyatitsolutions.SchoolManagement.SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pragyatitsolutions.SchoolManagement.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.pragyatitsolutions.SchoolManagement.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.pragyatitsolutions.SchoolManagement.MyFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- For Google Maps -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>